@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white-color: #ffffff;
    --black-color: #000000;
}

/* HEADER */

/* navbar */

.navbar {
    display: flex;
    align-items: center;
    background: var(--black-color);
    color: var(--white-color);
    width: 100%;
    height: 70px;
    top: 0;
    /* padding: 0 30px; */
    position: fixed;
    z-index: 9999;   
}

.navbar-wrapper {
    min-height: 70px;
    /* font-family: 'Raleway', sans-serif; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-color);
    margin: 0 auto;
    width: 1200px;
}

.header-logo img {
    max-height: 45px;
    padding: 0 16px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 0 16px;
    font-weight: 400;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: blue;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

/* showcase */
.showcase {
    border: 2px red solid;
    /* position: relative;
    top: 70px; */
    padding-top: 9vh;
    height: 100vh;
    
}

.content-wrapper {
    /* clear: both; */
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 2rem 5rem;
    margin: 0 auto;
    height: 100%;
}

.left-content-wrapper {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 25px;
}

.right-content-wrapper img {
    max-width: 100%;
    max-height: inherit;
}






/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 0 30px;
}

.bar {
    display: block;
    width: 27px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f3f3f3;
}




/* Mobile */
@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    /* hamburger animation */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    /* Links appear below hamburger */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .header-logo img {
        max-height: 30px;
        padding: 0 30px;
    }
}

