@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white-color: #ffffff;
    --black-color: #000000;
}

/* HEADER */
header {
    background: #e43a15;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65245, #e43a15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* navbar */
.navbar {
    display: flex;
    align-items: center;
    color: var(--white-color);
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed;
    z-index: 9999;   
}

.navbar-wrapper {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
}

.header-logo img {
    max-height: 45px;
    padding: 0 16px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 0 16px;
    font-weight: 400;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: blue;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

/* showcase */
.showcase {
    padding-top: 9vh;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 2rem 0;
    margin: 0 auto;
    height: 100%;
}

.left-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 25px;
}

.right-content-wrapper img {
    max-width: 100%;
    max-height: inherit;
}


/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 0 30px;
}

.bar {
    display: block;
    width: 27px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f3f3f3;
}




/* Mobile */
@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    /* hamburger animation */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    /* Links appear below hamburger */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .header-logo img {
        max-height: 30px;
        padding: 0 30px;
    }
}

